<div class="column is-half">

    <%= render "form" %>

    <% @posts.each do | post | %>
     <div class="box"> 
      <article class="media">
        <div class="media-content">
          <div class="content">
            <% if user_signed_in? %>
              <%= post.user.try(:username) %>
            <% else %>
              <h3> Anonymous </h3>
            <% end %>
            <br>
             <strong> <%= post.title %> </strong> <br>
             <p> <%= post.post %> </p>
          </div>
        </div>
        <div class="media-right">
          <% if user_signed_in? && current_user.id == post.user_id %>
            <%= link_to post,  data: { turbo_method: :delete ,turbo_confirm: 'Are you sure?' } do %>
              <button class="delete"></button>
            <% end %>
          <% end %>
        </div>
      </article>
    </div>
    <% end %>
</div>